*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
sbt_pid
ensime_2.11-0.9.10-SNAPSHOT-assembly.jar
/lib/ensime_2.11-0.9.10-SNAPSHOT-assembly.jar
.scala_dependencies
.worksheet
.directory
.idea/
.idea_modules/
*.iml
*.sc
.classpath
.project
.settings/
nwjs-v0.12.3-linux-x64/
ensime-server/
/nbproject
