*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.directory
.idea/
.idea_modules/
*.iml
*.sc
.classpath
.project
.settings/
nwjs-v0.12.3-linux-x64/
ensime-server/

templates/main-template/.classpath_nb

