<html>
<head>
    <meta charset="UTF-8">
    <title>FakeVyral</title>
    <style>
        body { margin: 0; overflow:hidden;}
        canvas { width: 100%; height: 100% }
    </style>
</head>
<body>
<!-- Include JavaScript dependencies -->
<script type="text/javascript" src="./target/scala-2.11/scalajs_template-jsdeps.js"></script>
<!-- Include Scala.js compiled code -->
<script type="text/javascript" src="./target/scala-2.11/scalajs_template-fastopt.js"></script>
<!-- Run main object -->
<script type="text/javascript" src="./target/scala-2.11/scalajs_template-launcher.js"></script>
<script type="text/javascript">
    main.App().run(new ThreeJSApp());
</script>
</body>
</html>

